.projects--container{
    margin-top: 40vh;
}
.projects--items {
    width: 40%;
    margin-top: 20px;
    height: 500px;
    display: inline-block;
    font-size: 16px;
    border: 1px solid #a3a3a3;
}
.projects--text {
    padding: 10px;
    text-align: left;
}
// images 
.projects--img{
    margin-bottom: 10px;
    height: 300px;
    width: 100%;
    text-align: center;
}
/*Github activity*/
#github{
    margin: 10vh 0;
}
.git--items{ 
    text-align: initial;
    background: #eeeeee;
    padding: 2%;
    border-left: 3px solid $color-red;
    border-bottom: 1px solid $color-red;
    margin: 20px;
    height: 90px;
    width: 20%;
    display: inline-block; 
    background-image: url("../../images/linkedin-logo.png");   
    &:hover{
        background: $color-red;
        color: $color-contrast;
        transition: 1.3s; 
        opacity: 0.8;
    a{
        color: $color-contrast;
    }
    }
}
.git--items > p {
    padding: 3px;
}
/*about*/
#about{
    height: 90vh;
}
.photo-about{ 
    margin: 20vh 0;
    height: 300px;
    width: 300px;
    border-radius: 100%;
    margin-bottom: 20px;
}
/*form*/
/*
form{
    margin-top: 3%;
    font-size: 18px;
}
.label{
    margin: 0 auto;
    width: 73%;
}
.label__form {
    width: 10%;
    float: left;
    text-align: justify;
}
.input__form{
    font-size: 18px;
    padding: 15px;
    color: $color-red;
    height: 50px;
    margin: 30px;
    width: 80%;
}
.button__form{
    border-radius: 4px;
    color: $global-color;
    border: 2px solid $color-red;
    background: transparent;
    padding: 10px;
    font-size: 20px;
    width: 50%;
    height: 50px;
    &:hover{
        transition: 0.70s;
        background: $color-red;
        color: $color-contrast;
    }
}
*/