#projects{
    margin-top: 20vh;
    height: 80vh;
}
#projects > div {
    width: 30%;
    height: 70vh;
    display: inline-block;
    padding: 10px;
    text-align: left;
    font-size: 16px;
    margin: 0 auto;
}
#projects > div > p {
    padding: 15px;
}
// images 
.lyrics , .psd , .api{
    height: 350px;
    width: 350px;
    text-align: center;
}

/*about*/
#about{
    margin: 0 auto;
    height: 70vh;
}
.photo-about{
    height: 300px;
    width: 300px;
    border-radius: 100%;
    margin-bottom: 20px;
}
/*form*/
.contact{
    float: left;
    font-size: 22px;
}
form{
    margin-top: 3%;
    font-size: 18px;
}
.label{
    margin: 0 auto;
    width: 73%;
}
label {
    width: 10%;
    float: left;
    text-align: justify;
}
input{
    font-size: 18px;
    padding: 15px;
    color: $color-red;
    height: 50px;
    margin: 30px;
    width: 80%;
}
#send-form{
    border-radius: 4px;
    color: $global-font-color;
    border: 2px solid $color-red;
    background: transparent;
    padding: 10px;
    font-size: 20px;
    width: 50%;
    height: 50px;
    &:hover{
        background: $color-red;
        color: $color-contrast;
    }
}