#projects{
    margin-top: 100px;
    height: 70vh;
    border: 2px solid $color-red;
}
#projects > div {
    margin: 0 auto;
    width: 32%;
    display: inline-block;
    border: 2px solid $color-red;
}
.lyrics , .psd , .api{
    height: 400px;
    width: 400px;
}


/*about*/
#about{
    margin-top: 13%;
    height: 60vh;
}
.photo-about{
    height: 300px;
    width: 300px;
    border-radius: 100%;
    margin-bottom: 20px;
}
form{
    height: 60vh;
    border: 2px solid black;
    margin-top: 50px;
}
label{ 
    margin: 20px;
    height: 20vh;
    color: $color-red;
    float: left;
}
input{
    color: $global-font-color;
    margin: 0 auto;
    width: 70%;
    font-size: 18px;
    padding: 10px;
    height: 35px;
    display: block;
}