.footer{
    height: 75px;
}
.links{
    height: 50px;
    width: 50px;
    display: block
}
.githubLink{
    background-image: url('../../images/github.png');
}
.gmailLink{
    background-image: url('../../images/gmail.svg');
}
.linkedinLikn{
    background-image: url('../../images/linkedin.svg');
}
.twitterLink{
 background-image: url('../../images/twitter.svg');
}
#menufooter > li{
    float: left;
    margin: 10px;
}
