.header{
    height: 5vh;    
}
.nameTransition{
    z-index: 1;
    text-align: center;
    position: fixed;
    height: 110px;
    background: #ffffff;
    width: 100%;
    border-bottom: 2px solid $color-red;
}
.logo{
    padding: 5px;
    height: 45px;
    width: 45px;
}
#menu{
    padding-top: 110px;
    font-size: 20px;
    width: 100%;
    float: right;
}
.menu__items{
    padding: 10px;
    width: 7%;
    height: 30px;
    float: right;
    color: $color-red;
    cursor: pointer;
    position: relative;
    &:after{
        position: absolute;
        content: '';
        top: 30px;
        display: block;
        width: 80%;
        background: $color-red;
        height: 5px;
        z-index: -1;
    }
    &:hover:after{
    color: $global-color;
    }
}