//.header{
  //  height: 5vh;    
//}
.nameTransition{
    z-index: 1;
    text-align: center;
    background: #ffffff;
    width: 100%;
    border-bottom: 2px solid $color-red;
    position: fixed;
    top: 0;
}
.name-header-transition , .career-header-transition{
    font-family: $regular-font-family;
}
.logo{
    margin-top: 10px;
    padding: 3px;
    height: 45px;
    width: 45px;
}
#menu{
    font-size: 20px;
    width: 60%;
    float: right;
}
.menu__items{
    transition: 2s;
    padding: 5px;
    width: 9%;

    float: right;
    color: $color-red;
    cursor: pointer;
    position: relative;
    &:hover:after{
        z-index: 1;
        position: absolute;
        content: '';
        top: 30px;
        display: block;
        width: 80%;
        background: $color-red;
        height: 5px;
        color: $global-color;
    }
}