.nameTransition{
    background: #d80b08;
    border-bottom: 1px solid $color-red;
    color: white;
    padding: 5px;
    position: fixed;
    transition: 0.5s;
    text-align: center;
    top: 0;
    width: 100%;
    z-index: 1;

    @media (min-width:768px) {
        width: 100%;
    }
}
.name-header-transition , .career-header-transition{
    font-family: $regular-font-family;
}
.career-header-transition{
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 5px;
    padding: 3px;
}
.logo{
    background: #ffffff;
    padding: 10px;
    height: 30px;
    width: 30px;
    border-radius: 45%;
}
#menu{
    display: inline-block;
    margin: 0 auto;
    padding: 10px 1%;
    width: auto;
    @media (min-width:768px) {
        float: right; 
    }
}
.menu__items{
    z-index: 1;
    padding-bottom: 5px;
    display: inline-block;
    cursor: pointer;
    position: relative;
    text-align: center;
    &:hover:after{
        z-index: 1;
        position: absolute;
        content: '';
        top: 30px;
        display: block;
        width: 100%;
        background: $color-contrast;
        height: 3px;
    }
    @media (min-width:768px) {
       margin: 0 10px;
    }
}
.menu__items a {
    color: white;
}