$global-color: #505657;

$color-red:  #E82623;

$global-font-family: 'Verdana','Geneva','sans-serif';

$color-contrast: #98e0d9;

$regular-font-family: 'Muli', sans-serif;
$titles-font-family: 'Ovo', serif;
